@tailwind base;

@tailwind components;

@tailwind utilities;

body{
    font-family: 'Ubuntu';
}

.show-menu{
    backdrop-filter: saturate(150%) blur(10px);
    background-color: rgba(255,255,255, 0.4);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 1px 1px 3px rgba(33, 33, 33, 0.1);
}

